body {
  background-color: #000;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Logo et titre */
.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-container img {
  width: 80px;
}

.app-name {
  display: block;
  font-size: 1.2rem;
  margin-left: 10px;
}

/* Bannière et boutons */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #000;
  border: 1px solid #7b3fff;
  border-radius: 8px;
  text-align: center;
}

.welcome-message {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.stream-text {
  color: #7b3fff;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #7b3fff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5c2cb9;
}

/* Serie Card */
.series-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.serie-card {
  background-color: #000;
  border-radius: 8px;
  border: 1px solid #7b3fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.serie-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.serie-text1 {
  font-size: 1rem;
  color: #7b3fff;
}

.container-banner-resume {
  display: flex;
}
.serie-banner {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.elements-card {
  padding: 1rem;
}

.serie-resume {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
}

.serie-season-available {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}

.serie-btn-season-available {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #7b3fff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.serie-btn-season-available:hover {
  background-color: #5c2cb9;
}

.container-platform-available {
display: flex;
align-items: center;
}

.serie-text2 {
  font-weight: bold;
}

.icon-platform-available {
  width: 5rem;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 1rem;
}

.circular-image {
  width: 2rem; /* Ajustez la largeur et la hauteur selon vos besoins */
  height: 2rem;
  border-radius: 50%;
  overflow: hidden; /* Assurez-vous que le contenu de l'image est masqué en dehors du cercle */
}

.container-social-icon img {
  width: 2rem;
  padding: 1rem;
}

.legal-protection-text {
  font-size: 0.8rem;
  font-style: italic;
  color: #737373;
}

/* Media queries */
@media (max-width: 768px) {
  .serie-card {
    width: 90%;
  }
  .container-banner-resume {
    display: flex;
    flex-direction: column;
}
}
